<h2>FILMS</h2>

<!--Spinner-->
<div id="spinner" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>

<body *ngIf="!isLoading">
  <!--Filter-->
  <mat-form-field appearance="legacy" class="filter">
    <mat-label>Filter</mat-label>
    <input (keyup)="applyFilter($event)" matInput #input>
  </mat-form-field>

  <!--Table start with the information about the data I'm pulling-->
  <table mat-table [dataSource]="dataSourceFilms" *ngIf="!isLoading" class="mat-elevation-z8 demo-table bg-opacity-50">

    <!-- Name Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef style="width: 10%"> Title </th>
      <td mat-cell *matCellDef="let film" (click)="onClick(film)">{{film.title}}</td>
    </ng-container>

    <!-- Climate Column -->
    <ng-container matColumnDef="director">
      <th mat-header-cell  *matHeaderCellDef style="width: 8%"> Director </th>
      <td mat-cell *matCellDef="let film" (click)="onClick(film)"> {{film.director}} </td>
    </ng-container>

    <!-- Gravity Column -->
    <ng-container matColumnDef="producer">
      <th mat-header-cell *matHeaderCellDef style="width: 12%"> Producer </th>
      <td mat-cell *matCellDef="let film" (click)="onClick(film)"> {{film.producer}} </td>
    </ng-container>

    <!-- Rotation Column -->
    <ng-container matColumnDef="episode">
      <th mat-header-cell *matHeaderCellDef style="width: 3.5%"> Episode </th>
      <td mat-cell *matCellDef="let film" (click)="onClick(film)"> {{film.episode_id}} </td>
    </ng-container>

    <!--Opening crawl Column-->
    <ng-container matColumnDef="opening">
      <th mat-header-cell *matHeaderCellDef> Opening</th>
      <td mat-cell *matCellDef="let film" (click)="onClick(film)"> {{film.opening_crawl}} </td>
    </ng-container>

    <!--Release date Column-->
    <ng-container matColumnDef="release">
      <th mat-header-cell *matHeaderCellDef> Release date </th>
      <td mat-cell *matCellDef="let film" (click)="onClick(film)"> {{film.release_date | date}} </td>
    </ng-container>

    <!--Created Column-->
    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef> Created </th>
      <td mat-cell *matCellDef="let film" (click)="onClick(film)"> {{film.created | date}} </td>
    </ng-container>

    <!--Edited Column-->
    <ng-container matColumnDef="edited">
      <th mat-header-cell *matHeaderCellDef> Edited </th>
      <td mat-cell *matCellDef="let film" (click)="onClick(film)"> {{film.edited | date}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsFilms"></tr>
    <tr
      mat-row
      (click)="selectRow(row)"
      (dblclick)="clickedRows.delete(row)"
      [class.demo-row-is-clicked]="clickedRows.has(row)"
      *matRowDef="let row; columns: displayedColumnsFilms"
    ></tr>

  <!--   Row shown when there is no matching data.-->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4" *ngIf="!isLoading">No data matching the filter "{{input.value}}"</td>
      </tr>
  </table>

  <!--Extra information that pops when a row is clicked-->
  <mat-card-header class="mat-card-header" *ngIf="clickedRows.size">
      <p id="extraInfo">Extra Info</p>
  </mat-card-header>
  <mat-card *ngIf="clickedRows.size" style="display: flex; justify-content: center; background-color: #f6f6f6">
    <mat-card >
      <p style="font-weight: bold">Planets featured</p>
        <ul *ngFor="let planet of planets">
        <li>{{planet.name}}</li>
      </ul>
    </mat-card>
    <mat-card style="margin-left: 1%">
      <p style="font-weight: bold">Species featured</p>
        <ul *ngFor="let specie of species">
          <li>{{specie.name}}</li>
        </ul>
    </mat-card>
    <mat-card style="margin-left: 1%">
      <p style="font-weight: bold">Starships featured</p>
      <ul *ngFor="let starship of starships">
        <li>{{starship.name}}</li>
      </ul>
    </mat-card>
    <mat-card style="margin-left: 1%">
      <p style="font-weight: bold">Vehicles featured</p>
      <ul *ngFor="let vehicle of vehicles">
      <li>{{vehicle.name}}</li>
      </ul>
    </mat-card>
  </mat-card>
</body>
