<h1 id="head">FILMS</h1>

<!--Filter-->
<mat-form-field appearance="legacy" class="filter">
  <mat-label>Filter</mat-label>
  <input (keyup)="applyFilter($event)" matInput style="color: mediumspringgreen" #input>
</mat-form-field>

<!--Table start with the information about the data I'm pulling-->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table bg-opacity-50">

  <!-- Name Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell style="text-align: center" *matHeaderCellDef> Title </th>
    <td mat-cell style="text-align: center" *matCellDef="let film">{{film.title}}</td>
  </ng-container>

  <!-- Climate Column -->
  <ng-container matColumnDef="director">
    <th mat-header-cell style="text-align: center" *matHeaderCellDef> Director </th>
    <td mat-cell style="text-align: center" *matCellDef="let film"> {{film.director}} </td>
  </ng-container>

  <!-- Gravity Column -->
  <ng-container matColumnDef="producer">
    <th mat-header-cell style="text-align: center" *matHeaderCellDef> Producer </th>
    <td mat-cell style="text-align: center" *matCellDef="let film"> {{film.producer}} </td>
  </ng-container>

  <!-- Rotation Column -->
  <ng-container matColumnDef="episode">
    <th mat-header-cell style="text-align: center" *matHeaderCellDef> Episode </th>
    <td mat-cell style="text-align: center" *matCellDef="let film"> {{film.episode_id}} </td>
  </ng-container>

  <!--Opening crawl Column-->
  <ng-container matColumnDef="opening">
    <th mat-header-cell style="text-align: center" *matHeaderCellDef> Opening</th>
    <td mat-cell style="text-align: center" *matCellDef="let film"> {{film.opening_crawl}} </td>
  </ng-container>

  <!--Release date Column-->
  <ng-container matColumnDef="release">
    <th mat-header-cell style="text-align: center" *matHeaderCellDef> Release date </th>
    <td mat-cell style="text-align: center" *matCellDef="let film"> {{film.release_date | date}} </td>
  </ng-container>

  <!--Created Column-->
  <ng-container matColumnDef="created">
    <th mat-header-cell style="text-align: center" *matHeaderCellDef> Created </th>
    <td mat-cell style="text-align: center" *matCellDef="let film"> {{film.created | date}} </td>
  </ng-container>

  <!--Edited Column-->
  <ng-container matColumnDef="edited">
    <th mat-header-cell style="text-align: center" *matHeaderCellDef> Edited </th>
    <td mat-cell style="text-align: center" *matCellDef="let film"> {{film.edited | date}} </td>
  </ng-container>

  <!--Table's click control-->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    (click)="clickedRows.add(row)"
    (dblclick)="clickedRows.delete(row)"
    [class.demo-row-is-clicked]="clickedRows.has(row)"
    *matRowDef="let row; columns: displayedColumns"
  ></tr>

<!--   Row shown when there is no matching data.-->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4" *ngIf="!isLoading">No data matching the filter "{{input.value}}"</td>
    </tr>
</table>

<!--Spinner-->
<div style="display: flex; justify-content: center" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>

<!--Failed information that pops when a row is clicked-->
<div class="card-header" style="margin-left: 5%">
  <div *ngIf="clickedRows.size">
    <h3 id="pap">
      Requests I failed
    </h3>
  </div>
  <div class="card-body">
    <ul>
      <li *ngFor="let clickedRow of clickedRows">
        <h2>Titulo: {{clickedRow.title}}</h2>
        <p id="pap">Planetas: </p><p>{{clickedRow.planets}}</p>
        <p id="pap">Species: </p><p>{{clickedRow.starships}}</p>
        <p id="pap">Starships: </p><p>{{clickedRow.starships}}</p>
        <p id="pap">Vehicles: </p><p>{{clickedRow.vehicles}}</p>
      </li>
    </ul>
  </div>
</div>


