<h2>FILMS</h2>

<!--Spinner-->
<div id="spinner" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>

<body *ngIf="!isLoading">
  <!--Filter-->
  <mat-form-field appearance="legacy" class="filter">
    <mat-label>Filter</mat-label>
    <input (keyup)="applyFilter($event)" matInput #input>
  </mat-form-field>

  <!--Table start with the information about the data I'm pulling-->
  <table mat-table [dataSource]="dataSource" *ngIf="!isLoading" class="mat-elevation-z10 demo-table bg-opacity-50">

    <!-- Name Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell id="columnTitle" (click)="onClick(film)" *matCellDef="let film">{{film.title}}</td>
    </ng-container>

    <!-- Climate Column -->
    <ng-container matColumnDef="director">
      <th mat-header-cell id="columnDir" *matHeaderCellDef> Director </th>
      <td mat-cell (click)="onClick(film)" *matCellDef="let film"> {{film.director}} </td>
    </ng-container>

    <!-- Gravity Column -->
    <ng-container matColumnDef="producer">
      <th mat-header-cell id="columnProd" *matHeaderCellDef> Producer </th>
      <td mat-cell (click)="onClick(film)" *matCellDef="let film"> {{film.producer}} </td>
    </ng-container>

    <!-- Rotation Column -->
    <ng-container matColumnDef="episode">
      <th mat-header-cell id="columnEpi" *matHeaderCellDef> Episode </th>
      <td mat-cell (click)="onClick(film)" *matCellDef="let film"> {{film.episode_id}} </td>
    </ng-container>

    <!--Opening crawl Column-->
    <ng-container matColumnDef="opening">
      <th mat-header-cell *matHeaderCellDef> Opening</th>
      <td mat-cell (click)="onClick(film)" *matCellDef="let film"> {{film.opening_crawl}} </td>
    </ng-container>

    <!--Release date Column-->
    <ng-container matColumnDef="release">
      <th mat-header-cell *matHeaderCellDef> Release</th>
      <td mat-cell (click)="onClick(film)" *matCellDef="let film"> {{film.release_date | date}} </td>
    </ng-container>

    <!--Created Column-->
    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef> Created </th>
      <td mat-cell (click)="onClick(film)" *matCellDef="let film"> {{film.created | date}} </td>
    </ng-container>

    <!--Edited Column-->
    <ng-container matColumnDef="edited">
      <th mat-header-cell *matHeaderCellDef> Edited </th>
      <td mat-cell (click)="onClick(film)" *matCellDef="let film"> {{film.edited | date}} </td>
    </ng-container>

    <!--Table's click control-->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      (click)="selectRow(row)"
      (dblclick)="clickedRows.delete(row)"
      [class.demo-row-is-clicked]="clickedRows.has(row)"
      *matRowDef="let row; columns: displayedColumns"
    ></tr>

    <!--   Row shown when there is no matching data.-->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4" *ngIf="!isLoading">No data matching the filter "{{input.value}}"</td>
      </tr>
  </table>

  <!--Extra information that pops when a row is clicked-->
  <mat-card-header class="mat-card-header" *ngIf="clickedRows.size">
      <p class="mat-headline">Extra Info</p>
  </mat-card-header>
  <mat-card id="matCardExt" class="mat-elevation-z10" *ngIf="clickedRows.size">
    <mat-card class="mat-elevation-z5">
      <p class="mat-headline">Planets featured</p>
        <ul *ngFor="let planet of planets">
          <mat-card class="listCard">
            <li>{{planet.name}}</li>
          </mat-card>
      </ul>
    </mat-card>
    <mat-card class="mat-elevation-z5">
      <p class="mat-headline">Species featured</p>
        <ul *ngFor="let specie of species">
          <mat-card class="listCard">
            <li>{{specie.name}}</li>
          </mat-card>
        </ul>
    </mat-card>
    <mat-card class="mat-elevation-z5">
      <p class="mat-headline">Starships featured</p>
      <ul *ngFor="let starship of starships">
        <mat-card class="listCard">
          <li>{{starship.name}}</li>
        </mat-card>
      </ul>
    </mat-card>
    <mat-card class="mat-elevation-z5">
      <p class="mat-headline">Vehicles featured</p>
      <ul *ngFor="let vehicle of vehicles">
        <mat-card class="listCard">
          <li>{{vehicle.name}}</li>
        </mat-card>
      </ul>
    </mat-card>
  </mat-card>
</body>
