<mat-toolbar  class="mat-footer-cell" color="primary">
<!--  <img src="assets/resistanceEE.png" alt="darth" style="width: 370px; margin-bottom: 0px; margin-left: 1%">-->
<!--  <img src="assets/droidDroid.png" alt="droid" style="width: 300px; margin-bottom: 35px; margin-left: 1%; margin-right: 1%">-->
  <div id="footMessage">
    <p>Matthews Ribeiro Sampaio - Frontend Challenge - SWAPI - ASCAN</p>
  </div>
<!--  <img src="assets/stormTR.png" alt="stormTrooper" style="width: 220px; margin-left: 1%; margin-bottom: 28px">-->
<!--  <img src="assets/bbIoda.png" alt="bbIoda" style="width: 310px; margin-left: 1%; margin-bottom: 20px">-->
</mat-toolbar>
