mat-toolbar {
  /*position: fixed;*/
  position: -webkit-sticky;
  bottom: 0;
  /*margin-top: 15%;*/
  /*margin-bottom: auto;*/
/*  min-width: 100%;*/
}

#footMessage {
  text-align: center;
  font-size: medium;
  margin-left: 36%;
}

p {
  color: yellow;
  outline-style: ridge;
}
