<h1 id="head">SPECIES</h1>

<!--<mat-form-field appearance="legacy" class="filter">-->
<!--  <mat-label style="color: white">Filter</mat-label>-->
<!--  <input (keyup)="applyFilter($event)"  matInput style="color: white" #input>-->
<!--</mat-form-field>-->

<table mat-table [dataSource]="this.species" class="mat-elevation-z8 demo-table bg-opacity-50">

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell style="text-align: center" *matHeaderCellDef> Name </th>
    <td mat-cell style="text-align: center" *matCellDef="let element">{{element.name}}</td>
  </ng-container>

  <!-- Climate Column -->
  <ng-container matColumnDef="skinColor">
    <th mat-header-cell style="text-align: center" *matHeaderCellDef> Skin color </th>
    <td mat-cell style="text-align: center" *matCellDef="let element"> {{element.skin_colors}} </td>
  </ng-container>

  <!-- Gravity Column -->
  <ng-container matColumnDef="eyeColor">
    <th mat-header-cell style="text-align: center" *matHeaderCellDef> Eye color </th>
    <td mat-cell style="text-align: center" *matCellDef="let element"> {{element.eye_colors}} </td>
  </ng-container>

  <!-- Rotation Column -->
  <ng-container matColumnDef="hairColor">
    <th mat-header-cell style="text-align: center" *matHeaderCellDef> Hair color </th>
    <td mat-cell style="text-align: center" *matCellDef="let element"> {{element.hair_colors}} </td>
  </ng-container>

  <ng-container matColumnDef="averageHeight">
    <th mat-header-cell style="text-align: center" *matHeaderCellDef> Average height </th>
    <td mat-cell style="text-align: center" *matCellDef="let element"> {{element.average_height}} </td>
  </ng-container>

  <ng-container matColumnDef="averageLifespan">
    <th mat-header-cell style="text-align: center" *matHeaderCellDef> Average lifespan </th>
    <td mat-cell style="text-align: center" *matCellDef="let element"> {{element.average_lifespan}} </td>
  </ng-container>

  <ng-container matColumnDef="classification">
    <th mat-header-cell style="text-align: center" *matHeaderCellDef> Classification </th>
    <td mat-cell style="text-align: center" *matCellDef="let element"> {{element.classification}} </td>
  </ng-container>

  <ng-container matColumnDef="language">
    <th mat-header-cell style="text-align: center" *matHeaderCellDef> Language </th>
    <td mat-cell style="text-align: center" *matCellDef="let element"> {{element.language}} </td>
  </ng-container>

  <ng-container matColumnDef="designation">
    <th mat-header-cell style="text-align: center" *matHeaderCellDef> Designation </th>
    <td mat-cell style="text-align: center" *matCellDef="let element"> {{element.designation}} </td>
  </ng-container>

  <ng-container matColumnDef="created">
    <th mat-header-cell style="text-align: center" *matHeaderCellDef> Created </th>
    <td mat-cell style="text-align: center" *matCellDef="let element"> {{element.created | date}} </td>
  </ng-container>

  <ng-container matColumnDef="edited">
    <th mat-header-cell style="text-align: center" *matHeaderCellDef> Edited </th>
    <td mat-cell style="text-align: center" *matCellDef="let element"> {{element.edited | date}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row
      (click)="clickedRows.add(row)"
      (dblclick)="clickedRows.delete(row)"
      [class.demo-row-is-clicked]="clickedRows.has(row)"
      *matRowDef="let row; columns: displayedColumns;"
  ></tr>

  <!-- Row shown when there is no matching data. -->
  <!--  <tr class="mat-row" *matNoDataRow>-->
  <!--    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>-->
  <!--  </tr>-->
</table>

<div style="display: flex; justify-content: center" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>

<div class="card-header" style="margin-left: 5%; margin-bottom: 5%">
  <div *ngIf="clickedRows.size">
    <h3 id="pap">
      Requests I failed
    </h3>
  </div>
  <!--  <div *ngIf="!clickedRows.size">-->
  <!--    <p>Failed requests will be logged here</p>-->
  <!--  </div>-->
  <div class="card-body">
    <ul>
      <li *ngFor="let clickedRow of clickedRows">
        <h2>Name: {{clickedRow.name}}</h2>
        <p id="pap">Films: </p><p>{{clickedRow.films}}</p>
        <p id="pap">People: </p><p>{{clickedRow.people}}</p>
      </li>
    </ul>
  </div>
</div>

