#mainImg {
  width: 8%;
}

#mainImg:hover {
  -webkit-filter: drop-shadow(2px 0mm 0mm red);
  transform: scale(1.1);
  transition: transform 1s;
}

.active {
  color: #673ab7;
  background-color: #f6f6f6;
}

mat-toolbar div {
  margin-left: 30%;
}

mat-toolbar div button {
  text-align: center;
  margin-left: 2%;
}

mat-toolbar div button:hover {
  color: #673ab7;
  background-color: #f6f6f6;
}
