<mat-toolbar color="primary">
  <img id="mainImg" src="https://upload.wikimedia.org/wikipedia/commons/5/5a/Star_Wars_Logo..png" routerLink="/home" alt="mainImg">
    <div class="example-button-row" id="nav">
      <button mat-raised-button color="accent" routerLinkActive="active" routerLink="/characters">Characters</button>
      <button mat-raised-button color="accent" routerLinkActive="active" routerLink="/films">Films</button>
      <button mat-raised-button color="accent" routerLinkActive="active" routerLink="/planets">Planets</button>
      <button mat-raised-button color="accent" routerLinkActive="active" routerLink="/species">Species</button>
      <button mat-raised-button color="accent" routerLinkActive="active" routerLink="/starships">Starships</button>
      <button mat-raised-button color="accent" routerLinkActive="active" routerLink="/vehicles">Vehicles</button>
    </div>
</mat-toolbar>
