<mat-toolbar color="primary">
  <img src="assets/starwars.png" routerLink="/home" id="mainImg">
    <div class="example-button-row">
      <button mat-raised-button color="accent" routerLinkActive="active" routerLink="/films">Films</button>
      <button mat-raised-button color="accent" routerLinkActive="active" routerLink="/peoples">Peoples</button>
      <button mat-raised-button color="accent" routerLinkActive="active" routerLink="/planets">Planets</button>
      <button mat-raised-button color="accent" routerLinkActive="active" routerLink="/species">Species</button>
      <button mat-raised-button color="accent" routerLinkActive="active" routerLink="/starships">Starships</button>
      <button mat-raised-button color="accent" routerLinkActive="active" routerLink="/vehicles">Vehicles</button>
    </div>
</mat-toolbar>
