button {
  background-color: yellow;
  margin-left: 5px;
}

button:hover {
  background-color: mediumspringgreen;
  transition: 0.2s;
}

a {
  text-decoration: none;
}

.active {
  background-color: goldenrod;
}

#btn {
  text-align: center;
  margin-left: 28%;
}

mat-toolbar {
  min-width: 100%;
}
