img:hover {
  -webkit-filter: drop-shadow(2px 0mm 0mm red);
}

button {
  margin-left: 3px;
}

button:hover {
  outline-style: solid;
  outline-color: red;
  background-color: mediumspringgreen;
  transition: 0.2s;
}

a {
  text-decoration: none;
}

.active {
  background-color: goldenrod;
}

#btn {
  text-align: center;
  margin-left: 28%;
}

mat-toolbar {
  min-width: 100%;
}
