<h1 id="head">PEOPLES</h1>

<!--<mat-form-field appearance="legacy" class="filter">-->
<!--  <mat-label style="color: white">Filter</mat-label>-->
<!--  <input (keyup)="applyFilter($event)"  matInput style="color: white" #input>-->
<!--</mat-form-field>-->

<table mat-table [dataSource]="this.people" class="mat-elevation-z8 demo-table bg-opacity-50">

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell style="text-align: center" *matHeaderCellDef> Name </th>
    <td mat-cell style="text-align: center" *matCellDef="let person">{{person.name}}</td>
  </ng-container>

  <!-- Climate Column -->
  <ng-container matColumnDef="gender">
    <th mat-header-cell style="text-align: center" *matHeaderCellDef> Gender </th>
    <td mat-cell style="text-align: center" *matCellDef="let person"> {{person.gender}} </td>
  </ng-container>

  <!-- Gravity Column -->
  <ng-container matColumnDef="skinColor">
    <th mat-header-cell style="text-align: center" *matHeaderCellDef> Skin color </th>
    <td mat-cell style="text-align: center" *matCellDef="let person"> {{person.skin_color}} </td>
  </ng-container>

  <!-- Rotation Column -->
  <ng-container matColumnDef="hairColor">
    <th mat-header-cell style="text-align: center" *matHeaderCellDef> Hair color </th>
    <td mat-cell style="text-align: center" *matCellDef="let person"> {{person.hair_color}} </td>
  </ng-container>

  <ng-container matColumnDef="eyeColor">
    <th mat-header-cell style="text-align: center" *matHeaderCellDef> Eye Color </th>
    <td mat-cell style="text-align: center" *matCellDef="let person"> {{person.eye_color}} </td>
  </ng-container>

  <ng-container matColumnDef="height">
    <th mat-header-cell style="text-align: center" *matHeaderCellDef> Height </th>
    <td mat-cell style="text-align: center" *matCellDef="let person"> {{person.height}}cm </td>
  </ng-container>

  <ng-container matColumnDef="mass">
    <th mat-header-cell style="text-align: center" *matHeaderCellDef> Mass </th>
    <td mat-cell style="text-align: center" *matCellDef="let person"> {{person.mass}}Kg </td>
  </ng-container>

  <ng-container matColumnDef="birth">
    <th mat-header-cell style="text-align: center" *matHeaderCellDef> Birth year </th>
    <td mat-cell style="text-align: center" *matCellDef="let person"> {{person.birth_year}} </td>
  </ng-container>

  <ng-container matColumnDef="created">
    <th mat-header-cell style="text-align: center" *matHeaderCellDef> Created </th>
    <td mat-cell style="text-align: center" *matCellDef="let person"> {{person.created | date}} </td>
  </ng-container>

  <ng-container matColumnDef="edited">
    <th mat-header-cell style="text-align: center" *matHeaderCellDef> Edited </th>
    <td mat-cell style="text-align: center" *matCellDef="let person"> {{person.edited | date}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row
      (click)="clickedRows.add(row)"
      (dblclick)="clickedRows.delete(row)"
      [class.demo-row-is-clicked]="clickedRows.has(row)"
      *matRowDef="let row; columns: displayedColumns;"
  ></tr>

  <!-- Row shown when there is no matching data. -->
  <!--  <tr class="mat-row" *matNoDataRow>-->
  <!--    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>-->
  <!--  </tr>-->
</table>

<div style="display: flex; justify-content: center" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>

<!--margin-bottom aqui está como uma gambiarra pra consertar a parte de "Requests I failed"-->
<!--que não estava aparecendo.-->
<div class="card-header" style="color: yellow; margin-left: 5%; margin-bottom: 5%">
  <div *ngIf="clickedRows.size">
    <h3>
      Requests I failed
    </h3>
  </div>
<!--    <div *ngIf="!clickedRows.size">-->
<!--      <p>Failed requests will be logged here</p>-->
<!--    </div>-->
  <div class="card-body">
    <ul>
      <li *ngFor="let clickedRow of clickedRows">
        <p>Films: {{clickedRow.films}}</p>
        <p>Species: {{clickedRow.species}}</p>
        <p>Starships: {{clickedRow.starships}}</p>
        <p>Vehicles: {{clickedRow.vehicles}}</p>
      </li>
    </ul>
  </div>
</div>

