<h1 id="head">PEOPLES</h1>

<!--Filter-->
<mat-form-field appearance="legacy" class="filter">
  <mat-label>Filter</mat-label>
  <input (keyup)="applyFilter($event)" matInput style="color: mediumspringgreen" #input>
</mat-form-field>

<!--Table start with the information about the data I'm pulling-->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table bg-opacity-50">

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell style="text-align: center" *matHeaderCellDef> Name </th>
    <td mat-cell style="text-align: center" *matCellDef="let person">{{person.name}}</td>
  </ng-container>

  <!-- Climate Column -->
  <ng-container matColumnDef="gender">
    <th mat-header-cell style="text-align: center" *matHeaderCellDef> Gender </th>
    <td mat-cell style="text-align: center" *matCellDef="let person"> {{person.gender}} </td>
  </ng-container>

  <!-- Gravity Column -->
  <ng-container matColumnDef="skinColor">
    <th mat-header-cell style="text-align: center" *matHeaderCellDef> Skin color </th>
    <td mat-cell style="text-align: center" *matCellDef="let person"> {{person.skin_color}} </td>
  </ng-container>

  <!-- Rotation Column -->
  <ng-container matColumnDef="hairColor">
    <th mat-header-cell style="text-align: center" *matHeaderCellDef> Hair color </th>
    <td mat-cell style="text-align: center" *matCellDef="let person"> {{person.hair_color}} </td>
  </ng-container>

  <!--Eye colour Column-->
  <ng-container matColumnDef="eyeColor">
    <th mat-header-cell style="text-align: center" *matHeaderCellDef> Eye Color </th>
    <td mat-cell style="text-align: center" *matCellDef="let person"> {{person.eye_color}} </td>
  </ng-container>

  <!--Height Column-->
  <ng-container matColumnDef="height">
    <th mat-header-cell style="text-align: center" *matHeaderCellDef> Height </th>
    <td mat-cell style="text-align: center" *matCellDef="let person"> {{person.height}}cm </td>
  </ng-container>

  <!--Mass Column-->
  <ng-container matColumnDef="mass">
    <th mat-header-cell style="text-align: center" *matHeaderCellDef> Mass </th>
    <td mat-cell style="text-align: center" *matCellDef="let person"> {{person.mass}}Kg </td>
  </ng-container>

  <!--Birth year Column-->
  <ng-container matColumnDef="birth">
    <th mat-header-cell style="text-align: center" *matHeaderCellDef> Birth year </th>
    <td mat-cell style="text-align: center" *matCellDef="let person"> {{person.birth_year}} </td>
  </ng-container>

  <!--Created Column-->
  <ng-container matColumnDef="created">
    <th mat-header-cell style="text-align: center" *matHeaderCellDef> Created </th>
    <td mat-cell style="text-align: center" *matCellDef="let person"> {{person.created | date}} </td>
  </ng-container>

  <!--Edited Column-->
  <ng-container matColumnDef="edited">
    <th mat-header-cell style="text-align: center" *matHeaderCellDef> Edited </th>
    <td mat-cell style="text-align: center" *matCellDef="let person"> {{person.edited | date}} </td>
  </ng-container>

  <!--Table's click control-->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row
      (click)="clickedRows.add(row)"
      (dblclick)="clickedRows.delete(row)"
      [class.demo-row-is-clicked]="clickedRows.has(row)"
      *matRowDef="let row; columns: displayedColumns;"
  ></tr>

  <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4" *ngIf="!isLoading">No data matching the filter "{{input.value}}"</td>
    </tr>

</table>

<!--Spinner-->
<div style="display: flex; justify-content: center" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>

<!--Failed information that pops when a row is clicked-->
<div class="card-header" style="margin-left: 5%;">
  <div *ngIf="clickedRows.size">
    <h3 id="pap">
      Requests I failed
    </h3>
  </div>
  <div class="card-body">
    <ul>
      <li *ngFor="let clickedRow of clickedRows">
        <h2>Name: {{clickedRow.name}}</h2>
        <p id="pap">Films: </p><p>{{clickedRow.films}}</p>
        <p id="pap">Species: </p><p>{{clickedRow.species}}</p>
        <p id="pap">Starships: </p><p>{{clickedRow.starships}}</p>
        <p id="pap">Vehicles: </p><p>{{clickedRow.vehicles}}</p>
      </li>
    </ul>
  </div>
</div>

