<app-navbar></app-navbar>
<router-outlet></router-outlet>
<mat-toolbar color="primary" id="foot">
  <img src="assets/resistanceEE.png" alt="darth" style="width: 370px; margin-bottom: 0px">
  <img src="assets/droidDroid.png" alt="droid" style="width: 300px; margin-bottom: 35px">
  <div id="footMessage">
    <p >Matthews Ribeiro Sampaio - Frontend Challenge - SWAPI - ASCAN</p>
  </div>
  <img src="assets/stormTR.png" alt="stormTrooper" style="width: 220px; margin-left: 30px; margin-bottom: 28px">
  <img src="assets/bbIoda.png" alt="bbIoda" style="width: 310px; margin-left: 20px; margin-bottom: 20px">
</mat-toolbar>
