<h2>PLANETS</h2>

<!--Spinner-->
<div id="spinner" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>

<body *ngIf="!isLoading">
  <mat-card>
  <!--Filter-->
    <mat-form-field appearance="legacy" class="filter">
      <mat-label>Filter</mat-label>
      <input (keyup)="applyFilter($event)" matInput #input>
    </mat-form-field>

    <!--Table start with the information about the data I'm pulling-->
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z10 demo-table bg-opacity-50">

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell (click)="onClick(planet)" *matCellDef="let planet">{{planet.name}}</td>
      </ng-container>

      <!-- Climate Column -->
      <ng-container matColumnDef="climate">
        <th mat-header-cell *matHeaderCellDef> Climate </th>
        <td mat-cell (click)="onClick(planet)" *matCellDef="let planet"> {{planet.climate}} </td>
      </ng-container>

      <!-- Gravity Column -->
      <ng-container matColumnDef="gravity">
        <th mat-header-cell *matHeaderCellDef> Gravity </th>
        <td mat-cell (click)="onClick(planet)" *matCellDef="let planet"> {{planet.gravity}} </td>
      </ng-container>

      <!-- Rotation Column -->
      <ng-container matColumnDef="rotation">
        <th mat-header-cell *matHeaderCellDef> Rotation </th>
        <td mat-cell (click)="onClick(planet)" *matCellDef="let planet"> {{planet.rotation_period}} </td>
      </ng-container>

      <!--Diameter Column-->
      <ng-container matColumnDef="diameter">
        <th mat-header-cell *matHeaderCellDef> Diameter </th>
        <td mat-cell (click)="onClick(planet)" *matCellDef="let planet"> {{planet.diameter}} </td>
      </ng-container>

      <!--Orbital period Column-->
      <ng-container matColumnDef="orbital">
        <th mat-header-cell *matHeaderCellDef> Orbital Period </th>
        <td mat-cell (click)="onClick(planet)" *matCellDef="let planet"> {{planet.orbital_period}} </td>
      </ng-container>

      <!--Population Column-->
      <ng-container matColumnDef="population">
        <th mat-header-cell *matHeaderCellDef> Population </th>
        <td mat-cell (click)="onClick(planet)" *matCellDef="let planet"> {{planet.population}} </td>
      </ng-container>

      <!--  Surface water Column-->
      <ng-container matColumnDef="surfaceWater">
        <th mat-header-cell *matHeaderCellDef> Surface water </th>
        <td mat-cell (click)="onClick(planet)" *matCellDef="let planet"> {{planet.surface_water}} </td>
      </ng-container>

      <!--Terrain Column-->
      <ng-container matColumnDef="terrain">
        <th mat-header-cell *matHeaderCellDef> Terrain </th>
        <td mat-cell (click)="onClick(planet)" *matCellDef="let planet"> {{planet.terrain}} </td>
      </ng-container>

      <!--Created Column-->
      <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef> Created </th>
        <td mat-cell (click)="onClick(planet)" *matCellDef="let planet"> {{planet.created | date}} </td>
      </ng-container>

      <!--Edited Column-->
      <ng-container matColumnDef="edited">
        <th mat-header-cell *matHeaderCellDef> Edited </th>
        <td mat-cell (click)="onClick(planet)" *matCellDef="let planet"> {{planet.edited | date}} </td>
      </ng-container>
      <!--Table's click control-->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        (click)="selectRow(row)"
        (dblclick)="clickedRows.delete(row)"
        [class.demo-row-is-clicked]="clickedRows.has(row)"
        *matRowDef="let row; columns: displayedColumns;"
      ></tr>

      <!--   Row shown when there is no matching data.-->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4" *ngIf="!isLoading">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>

    <!--Extra information that pops when a row is clicked-->
    <p class="extraInfo">Extra Info</p>
    <mat-card id="matCardExt" class="mat-elevation-z10">
      <mat-card class="mat-elevation-z5" *ngIf="clickedRows.size">
        <p class="mat-headline">Was featured on</p>
        <ul *ngFor="let film of films">
          <mat-card class="listCard">
            <p>{{film.title}}</p>
          </mat-card>
        </ul>
      </mat-card>
      <mat-card class="mat-elevation-z5" *ngIf="!validateResidents">
        <p class="mat-headline">Residents</p>
        <ul *ngFor="let resident of residents">
        <mat-card class="listCard">
          <p>{{resident.name}}</p>
        </mat-card>
        </ul>
      </mat-card>
      <mat-card *ngIf="!clickedRows.size">
        <p>Click one item of the list</p>
      </mat-card>
    </mat-card>
  </mat-card>
</body>
