/* You can add global styles to this file, and also import other style files */

html {
}

body {
  min-height: 100vh; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}

#bg {
  background-image: url("assets/StarWarsLogo.png");
  background-size: 10%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
