* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  font-size: 70px;
  margin-top: 0.5%;
  text-align: center;
}

.demo-table {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#matCardExt {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  width: 90%;
  margin: auto;
}

.extraInfo {
  font-size: 50px;
  margin-top: 5%;
  font-weight: bolder;
  text-align: center;
}

.listCard {
  margin: 2%;
}

mat-card-header {
  display: flex;
  justify-content: center;
  margin: auto;
}

.mat-headline {
  color: #3a3a3a;
  font-size: xx-large;
  font-weight: bolder;
  text-align: center;
  margin: auto;
}

mat-card mat-card p {
  color: #3a3a3a;
}

.mat-row:hover .mat-cell {
  border-color: #673ab7;
  cursor: pointer;
}

.demo-row-is-clicked {
  font-weight: bold;
}

.mat-form-field {
  font-size: 20px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.mat-form-field:hover mat-label {
  color: #3a3a3a;
}

#spinner {
  padding-top: 5%;
  display: flex;
  justify-content: center;
}

mat-toolbar p{
  font-size: large;
  margin-left: 36%;
  margin-bottom: 8px;
  color: yellow;
}
