/* You can add global styles to this file, and also import other style files */

html {
}

body {
  min-height: 100vh; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}

#bg {
  background-color: #f6f6f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  font-size: 70px;
  margin-top: 0.5%;
  text-align: center;
}

.demo-table {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#matCardExt {
  background-color: #f6f6f6;
  bottom: 5%;
  display: flex;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  width: 90%;
}

mat-card mat-card {
  margin-left: 1%;
}

mat-card mat-card p {
  color: #3a3a3a;
}

.mat-row:hover .mat-cell {
  border-color: #673ab7;
}

.demo-row-is-clicked {
  font-weight: bold;
}

.mat-form-field {
  font-size: 20px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.mat-form-field:hover mat-label {
  color: #3a3a3a;
}

.fit {
  max-height: 100%;
  max-width: 100%;
}

th {
  font-weight: bolder;
  color: #3a3a3a;
}

#spinner {
  padding-top: 5%;
  display: flex;
  justify-content: center;
}

mat-card-header {
  display: flex;
  justify-content: center;
}

.mat-headline {
  color: #3a3a3a;
  margin-top: 2%;
  font-size: xx-large;
  font-weight: bolder;
  text-align: center;
}

mat-toolbar p{
  font-size: large;
  font-min-size: medium;
  margin-left: 36%;
  margin-bottom: 8px;
  color: yellow;
}

footer p {
  color: yellow;
  font-size: medium;
  text-align: center;
  background-color: #673ab7;

}

.card-body {
  margin-bottom: 3%;
}

#columnTitle {
  width: 10%;
}

#columnDir {
  width: 8%;
}

#columnProd {
  width: 12%
}

#columnEpi {
  width: 4%;
}

#columnCargo {
  width: 8%;
}

#columnMglt {
  width: 3%;
  padding-left: 5px;
}

#columnMaxSpd {
  padding-right: 5px;
}

#columnCost {
  width: 8%;
}

#columnHyper {
  width: 5%;
  padding-left: 10px;
}

#columnModel {
  width: 10%;
}

#columnManufac {
  padding-left: 10px;
}

#columnNamepassengers {
  padding-right: 10px
}

#columnNameCost {
  padding-left: 5px;
}

#columnNameLength {
  padding-right: 10px;
}

#columnNameVehiclePassengers {
  padding-right: 10px;
}

#columnNameCrew {
  padding-right: 10px;
}
