<h1 id="head">VEHICLES</h1>

<!--Filter-->
<mat-form-field appearance="legacy" class="filter">
  <mat-label>Filter</mat-label>
  <input (keyup)="applyFilter($event)" matInput style="color: mediumspringgreen" #input>
</mat-form-field>

<!--Table start with the information about the data I'm pulling-->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table bg-opacity-50">

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef style="text-align: center"> Name </th>
    <td mat-cell *matCellDef="let element" style="text-align: center">{{element.name}}</td>
  </ng-container>

  <!-- Climate Column -->
  <ng-container style="text-align: center" matColumnDef="model">
    <th mat-header-cell *matHeaderCellDef style="text-align: center"> Model </th>
    <td mat-cell *matCellDef="let element" style="text-align: center"> {{element.model}} </td>
  </ng-container>

  <!-- Gravity Column -->
  <ng-container matColumnDef="passengers">
    <th mat-header-cell *matHeaderCellDef style="text-align: center"> Passengers </th>
    <td mat-cell *matCellDef="let element" style="text-align: center"> {{element.passengers}} </td>
  </ng-container>

  <!-- Rotation Column -->
  <ng-container matColumnDef="crew">
    <th mat-header-cell *matHeaderCellDef style="text-align: center"> Crew </th>
    <td mat-cell *matCellDef="let element" style="text-align: center"> {{element.crew}} </td>
  </ng-container>

  <!--Vehicle_class Column-->
  <ng-container matColumnDef="class">
    <th mat-header-cell style="text-align: center" *matHeaderCellDef> Class </th>
    <td mat-cell *matCellDef="let element" style="text-align: center"> {{element.vehicle_class}} </td>
  </ng-container>

  <!--Cargo capacity Column-->
  <ng-container matColumnDef="cargoCapac">
    <th mat-header-cell *matHeaderCellDef style="text-align: center"> Cargo capacity </th>
    <td mat-cell *matCellDef="let element" style="text-align: center"> {{element.cargo_capacity}} </td>
  </ng-container>

  <!--Consumables Column-->
  <ng-container matColumnDef="consumables">
    <th mat-header-cell *matHeaderCellDef> Consumables </th>
    <td mat-cell *matCellDef="let element"> {{element.consumables}} </td>
  </ng-container>

  <!--Cost in credits Column-->
  <ng-container matColumnDef="cost">
    <th mat-header-cell style="text-align: center" *matHeaderCellDef> Cost in credits</th>
    <td mat-cell style="text-align: center" *matCellDef="let element"> {{element.cost_in_credits}} </td>
  </ng-container>

  <!--Length Column-->
  <ng-container matColumnDef="length">
    <th mat-header-cell *matHeaderCellDef style="text-align: center"> Length </th>
    <td mat-cell style="text-align: center" *matCellDef="let element"> {{element.length}} </td>
  </ng-container>

  <!--Manufacturer Column-->
  <ng-container matColumnDef="manufacturer">
    <th mat-header-cell *matHeaderCellDef style="text-align: center"> Manufacturer </th>
    <td mat-cell style="text-align: center" *matCellDef="let element"> {{element.manufacturer}} </td>
  </ng-container>

  <!--Created Column-->
  <ng-container matColumnDef="created">
    <th mat-header-cell style="text-align: center" *matHeaderCellDef> Created </th>
    <td mat-cell style="text-align: center" *matCellDef="let element"> {{element.created | date}} </td>
  </ng-container>

 <!--Edited Column-->
  <ng-container matColumnDef="edited">
    <th mat-header-cell style="text-align: center" *matHeaderCellDef> Edited </th>
    <td mat-cell style="text-align: center" *matCellDef="let element"> {{element.edited | date}} </td>
  </ng-container>

 <!--Table's click control-->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row
      (click)="clickedRows.add(row)"
      (dblclick)="clickedRows.delete(row)"
      [class.demo-row-is-clicked]="clickedRows.has(row)"
      *matRowDef="let row; columns: displayedColumns;"
  ></tr>

  <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4" *ngIf="!isLoading">No data matching the filter "{{input.value}}"</td>
    </tr>
</table>

<!--Spinner-->
<div style="display: flex; justify-content: center" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>

<!--Failed information that pops when a row is clicked-->
<div class="card-header" style="margin-left: 5%; margin-bottom: 5%">
  <div *ngIf="clickedRows.size">
    <h3 id="pap">
      Requests I failed
    </h3>
  </div>
  <div class="card-body">
    <ul>
      <li *ngFor="let clickedRow of clickedRows">
        <h2>Name: {{clickedRow.name}}</h2>
        <p id="pap">Films: </p><p>{{clickedRow.films}}</p>
        <p id="pap">Pilots: {{clickedRow.pilots}}</p>
      </li>
    </ul>
  </div>
</div>
