<h2>VEHICLES</h2>

<!--Spinner-->
<div id="spinner" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>

<body *ngIf="!isLoading">
  <!--Filter-->
  <mat-form-field appearance="legacy" class="filter">
    <mat-label>Filter</mat-label>
    <input (keyup)="applyFilter($event)" matInput #input>
  </mat-form-field>

  <!--Table start with the information about the data I'm pulling-->
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z10 demo-table bg-opacity-50">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell (click)="onClick(element)" *matCellDef="let element">{{element.name}}</td>
    </ng-container>

    <!-- Climate Column -->
    <ng-container matColumnDef="model">
      <th mat-header-cell *matHeaderCellDef> Model </th>
      <td mat-cell id="columnModel" (click)="onClick(element)" *matCellDef="let element"> {{element.model}} </td>
    </ng-container>

    <!-- Gravity Column -->
    <ng-container matColumnDef="passengers">
      <th mat-header-cell id="columnNameVehiclePassengers" *matHeaderCellDef> Passengers </th>
      <td mat-cell (click)="onClick(element)" *matCellDef="let element"> {{element.passengers}} </td>
    </ng-container>

    <!-- Rotation Column -->
    <ng-container matColumnDef="crew">
      <th mat-header-cell id="columnNameCrew" *matHeaderCellDef> Crew </th>
      <td mat-cell (click)="onClick(element)" *matCellDef="let element"> {{element.crew}} </td>
    </ng-container>

    <!--Vehicle_class Column-->
    <ng-container matColumnDef="class">
      <th mat-header-cell *matHeaderCellDef> Class </th>
      <td mat-cell (click)="onClick(element)" *matCellDef="let element"> {{element.vehicle_class}} </td>
    </ng-container>

    <!--Cargo capacity Column-->
    <ng-container matColumnDef="cargoCapac">
      <th mat-header-cell *matHeaderCellDef> Cargo capacity </th>
      <td mat-cell (click)="onClick(element)" *matCellDef="let element"> {{element.cargo_capacity}} </td>
    </ng-container>

    <!--Consumables Column-->
    <ng-container matColumnDef="consumables">
      <th mat-header-cell *matHeaderCellDef> Consumables </th>
      <td mat-cell (click)="onClick(element)" *matCellDef="let element"> {{element.consumables}} </td>
    </ng-container>

    <!--Cost in credits Column-->
    <ng-container matColumnDef="cost">
      <th mat-header-cell *matHeaderCellDef> Cost in credits</th>
      <td mat-cell (click)="onClick(element)" *matCellDef="let element"> {{element.cost_in_credits}} </td>
    </ng-container>

    <!--Length Column-->
    <ng-container matColumnDef="length">
      <th mat-header-cell id="columnNameLength" *matHeaderCellDef> Length </th>
      <td mat-cell (click)="onClick(element)" *matCellDef="let element"> {{element.length}} </td>
    </ng-container>

    <!--Manufacturer Column-->
    <ng-container matColumnDef="manufacturer">
      <th mat-header-cell *matHeaderCellDef> Manufacturer </th>
      <td mat-cell (click)="onClick(element)" *matCellDef="let element"> {{element.manufacturer}} </td>
    </ng-container>

    <!--Created Column-->
    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef> Created </th>
      <td mat-cell (click)="onClick(element)" *matCellDef="let element"> {{element.created | date}} </td>
    </ng-container>

   <!--Edited Column-->
    <ng-container matColumnDef="edited">
      <th mat-header-cell *matHeaderCellDef> Edited </th>
      <td mat-cell (click)="onClick(element)" *matCellDef="let element"> {{element.edited | date}} </td>
    </ng-container>

   <!--Table's click control-->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row
        (click)="selectRow(row)"
        (dblclick)="clickedRows.delete(row)"
        [class.demo-row-is-clicked]="clickedRows.has(row)"
        *matRowDef="let row; columns: displayedColumns;"
    ></tr>

    <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4" *ngIf="!isLoading">No data matching the filter "{{input.value}}"</td>
      </tr>
  </table>

  <!--Extra information that pops when a row is clicked-->
  <mat-card-header class="mat-card-header" *ngIf="clickedRows.size">
    <p class="mat-headline">Extra Info</p>
  </mat-card-header>
  <mat-card id="matCardExt" class="mat-elevation-z10" *ngIf="clickedRows.size">
    <mat-card class="mat-elevation-z5">
      <p class="mat-headline">Was featured on</p>
      <ul *ngFor="let film of films">
        <li>{{film.title}}</li>
      </ul>
    </mat-card>
    <mat-card class="mat-elevation-z5" *ngIf="!validatePilots">
      <p class="mat-headline">Pilots</p>
      <ul *ngFor="let pilot of pilots">
        <li>{{pilot.name}}</li>
      </ul>
    </mat-card>
  </mat-card>
</body>
